$controlPanelHeight: 80px;
$editBarWidth: 300px;

@mixin setFlex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

:export {
  controlPanelHeight: $controlPanelHeight,
}